@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    background: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}